#headerTitle {
	font-family: 'Lobster', cursive;
	font-size: 5em;
	text-align: center;
	margin:0px;
}
body {
	background-color: #609e8e;
	padding: 0px;
}
#title {
	font-family: 'Poiret One', cursive;
	text-align: center;
	margin-top: 0px;
}

#header {
	width: 100%;
	background-color: white;
	margin-top: 0px;
	border-bottom: 3px solid black;
	border-top: 3px solid black;
}
#lh {
	line-height: 100px;
}


@media all and (min-width: 30em){
	#api {
		width: 50%;
	}

	body {
		background-color: red;
	}

	#headerTitle {
		font-family: 'Lobster', cursive;
		text-align: center;
		margin:0px;
	}
}