#headerTitle {
	font-family: 'Lobster', cursive;
	text-align: center;
	margin:0px;
}
body {
	background-color: #609e8e;
	padding: 0px;
}
#title {
	font-family: 'Poiret One', cursive;
	text-align: center;
	margin-top: 0px;
}
/*#hr {
	width: 100%;
	height: 3px;
	background-color: black;
}*/
#header {
	width: 100%;
	height: 150px;
	background-color: white;
	margin-top: 0px;
	border-bottom: 3px solid black;
	border-top: 3px solid black;
}
#lh {
	line-height: 100px;
}

.pic {
	width: 120px;
	display: inline-block;
	margin-right: 10px;
}
p.bio {
	font-family: 'Quattrocento Sans', sans-serif;
	font-size: 15px;
	vertical-align: top;
}
#data {
	display: inline-block;
}
.repos {
	font-family: 'Quattrocento Sans', sans-serif;
	font-size: 15px;
	vertical-align: top;
}